#root {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

main {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  place-items: center;
  width: 800px;
}


.board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 12px;
  width: 600px;
}

.tile {
  align-items: center;
  border: 4px solid white;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  width: 72px;
  height: 72px;
}

.foo {
  background-color: rgb(93, 166, 195);
  color: rgb(171, 89, 89);
}